.header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 20px 40px;
	background-color: var(--blue);
	border-bottom: 2px solid var(--yellow);
  color: var(--white);
	letter-spacing: normal;
}

.nav-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	margin-right: auto;
	color: var(--white);
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}

.logo:hover {
  color: var(--yellow);
}

.logo strong {
  color: var(--yellow);
	font-weight: 700;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 70px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.nav-list__link {
	color: var(--white);
	transition: all 0.2s ease-in;
}

.nav-list__link--active {
  color: var(--yellow);
  border-bottom: 2px solid var(--yellow);
}

.nav-list__link:hover {
  color: var(--yellow);
}
